$main-color: #091428; // Main color, used at header
$btn-color: #033DA6; // Buttons color
$bg-color:  #e2e2e2; // Page background color
$box-color: #D9D9D9; // Champs boxes color
$font-color: #222; // Dark font color
$second-color: #c89b3c; // Secondary color, used with details
