@media (min-width: 1441px){

  .container{
    #all-champs{
      grid-template-columns: repeat(4,1fr);
    }
  }

}

@media (max-width: 1124px){
  .container{
    #all-champs{
      grid-template-columns: repeat(2,1fr);
    }
  }
}

@media (max-width: 768px){

  .container{
    #all-champs{
      grid-template-columns: 1fr;
    }
  }

  .header{

    .navbar{
      .search-champs{
        
        .search-button{
          font-size: 1rem;
          padding: .2rem .5rem ;
        }
  
        .search-champs-input{
          width: 18rem;
          height: 2.3rem;
        }
      }
      
    }
  
    .logo{
      width: 4rem;
      height: 4rem;
    }
  }

  #background-div{
  
    button.close-information-button{
      font-size: 1.5rem;
      top: 1rem;
      right: 1rem;
    }
  
    #content-div{
      gap: 1rem;
      
      #champ-image{
        width: 8rem;
        height: 8rem;
      }
      
      section{
        
        p{
          font-size: .8rem;
        }
      }
    }
  }
}

@media (max-width: 576px){

  .header{
    height: 8rem;
    .navbar{
      position: relative;

      .search-champs{
        position: relative;
        background-color: $main-color;
        .search-button{
          font-size: 1.1rem;
          padding: .2rem .5rem ;
        }
  
        .search-champs-input{
          position: absolute;
          width: 0;
          overflow: hidden;
          visibility: hidden;
          height: 2rem;
          right: 1.3rem;
          top: 2.7rem;
          transition: .3s;
        }

        #champs-input.active{
          visibility: visible;
          width: 18rem;
        }
      }
      
    }
  
  }

  #background-div{
    button.close-information-button{
      font-size: 1.5rem;
      top: 1rem;
      right: 1rem;
    }
  
    #content-div{
      max-width: 100%;
      overflow-y: auto;
      gap: .5rem 1rem;

      p{
        font-size: .9rem;
      }

      #title_name{
        p{
          font-size: 1rem;
        }
      }

      #champ-image{
        width: 6rem;
        height: 6rem;
      }
      
      section{
        
        p{
          font-size: .8rem;
        }
      }
    }
  }
}

@media (max-width: 425px){
  .header{
    .navbar{
      .search-champs{
        #champs-input.active{
          width: 14rem;
        }
      }
    }
  }

  #error-champ-not-found-message,#error-message{
    height:80vh;
    bottom: 0;
  }

  .container{
  
    .champs-divs{
      width: 18rem;
      height: 25rem;
      background-color: $box-color;
  
      .champ-images{
        width: 100%;
        height: 13rem;
      }
  
      .text-div-content{
        
        h3{
          font-size: 2rem
        }
  
        figcaption{
          font-size: 1rem
        }
      }
  
      .see-more-button{
        width: 12rem;
        height: 2.5rem;
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 360px){
  .header{
    .navbar{
      .search-champs{
        #champs-input.active{
          width: 14rem;
        }
      }
    }
  }

  #error-champ-not-found-message,#error-message{
    height:80vh;
    bottom: 0;
  }

  .container{
    top: 7.5rem;
    #headline-text{
      font-size: 2.5rem;
    }
  
    .champs-divs{
      width: 13rem;
      height: 17rem;
      background-color: $box-color;
  
      .champ-images{
        width: 100%;
        height: 10rem;
      }
  
      .text-div-content{
        padding-bottom: 0rem !important;
        h3{
          font-size: 1.5rem
        }
  
        figcaption{
          font-size: .75rem
        }
      }
  
      .see-more-button{
        width: 7rem;
        height: 1.75rem;
        font-size: .75rem;
      }
    }
  }
}