// Scroll-bar
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: $btn-color; 
  height: 8rem;
}
::-webkit-scrollbar-track {
  background-color: $font-color;
}

.hide{
  display: none !important; 
}

// Loader spinner to show when something is being processed

.spinner-border-div{
  position: fixed;
  z-index: 1090;
  width: 100%;
  height: 100vh;

  .spinner-border{
    width: 4rem;
    height: 4rem;
  }

}

// error messages config
#error-message,#error-champ-not-found-message{
  @include error-messages();
}

// header config
.header{
  width: 100%;
  height: 7rem;
  background-color: $main-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .navbar{ // nav bar config
    height: 100%;
    width: 90%;
    
    .search-champs{ // search input div config

      .search-button{ // Search button
        font-size: 1.2rem; // using bootstrap icons, and because of it i manipulate the magnifying glass icon like a text 
      }

      .search-champs-input{ // Input area config
        width: 24.125rem;
        height: 2.5rem;
        border-radius: 1.25rem;
        background-color: $second-color;
        border: none;
      }
    }
    
  }

  .logo{ // site logo
    width: 5rem;
    height: 5rem;
  }
}

.container{ // main container with all champs

  #all-champs{
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
  }

  .champs-divs{ // Global config to all champ divs
    width: 20rem;
    height: 26rem;
    background-color: $box-color;
    border-bottom: .2rem solid $second-color;

    .champ-images{ // config images
      width: 100%;
      height: 14rem;
    }

    .text-div-content{
      
      h3{ // champ name
        @include font-styles($second-font, 2.4rem ,$font-color);
      }

      figcaption{ // champ blurb
        @include font-styles($main-font, 1.1rem ,$font-color);
        opacity: .8;
      }
    }

    .see-more-button{ // button to see more infomations about champ config
      width: 12.6875rem;
      height: 2.5rem;
      background-color: $btn-color;
      @include font-styles($main-font, 1.25rem ,#fff); // font config
    }
  }

}

#background-div{
  min-height: 100vh;
  background-color: #22222293;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;

  button.close-information-button{
    position: absolute;
    color: $bg-color;
    font-size: 2rem;
    top: 1.5rem;
    right: 2rem;
  }

  #content-div{
    max-width: 80%;
    min-height: 100vh;
    top: 0;
    background-color: $main-color;
    color: $bg-color;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: max-content;
    gap: .5rem 1rem;
    
    #champ-image{
      width: 9rem;
      height: 9rem;
    }
    #title_name{
      width: 100%;
    }
    
  }
}